*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: serif;
}
.item{
	margin:20px;
	padding: 15px;
	position: relative;
	background-color: #1a1f82;
	border: 2px solid black;
}
h1{
	text-align: center;
	margin:50px ;
	font-size: 175%

}
h4{
	position: absolute;
	top: 0px;
	right:0px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding: 5px 90px;
	color: black;
	background-color: grey;
	font-size: 125%;
	
}
.item-1{
	background-color: red;
}
.item-2{
	background-color: green;
}
.item-3{
	background-color: grey;
}
.section-all{
	float: left;
	color: white;
	}
p{
	padding: 30px;
}
@media(min-width: 992px){
.section-lg-4{
	width: 33.33%;
}
}
@media(min-width: 768px) and (max-width: 991px){
.section-md-6{
	width: 50%
}
.section-md-12{
	width: 100%
}
}
@media(max-width: 767px){

.section-lg-4{
    width: 100%;
    float: left;
  }
}
